<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
        <tr th:each="field : job">
            <td th:text="${field.key}"></td><td th:text="${field.value}"></td>
        </tr>
        <tr>
            <td th:text="'Name: ' + ${job.getName()}"></td>
        </tr>
        <tr>
            <td th:text="'Employer: ' + ${job.getEmployer().getValue()}"></td>
        </tr>
        <tr>
            <td th:text="'Location: ' + ${job.getLocation().getValue()}"></td>
        </tr>
        <tr>
            <td th:text="'Position Type: ' + ${job.getPositionType().getValue()}"></td>
        </tr>
        <tr>
            <td th:text="'Skill: ' + ${job.getCoreCompetency().getValue()}"></td>
        </tr>


    </table>
    </th:block>

</div>

</body>
</html>