<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


        <th:block th:fragment="table-display" th:each="job : ${jobs}">
        <table class="job-listing" >
            <tr>
                <td class="centered">ID</td><td class="centered" th:text="${job.getId()}"></td>
            </tr>
            <tr>
                <td class="centered">Name</td><td class="centered" th:text="${job.getName()}"></td>
            </tr>

            <tr>
                <td class="centered">Employer</td>
                <td class="centered"><a th:href="@{/list/jobs(column='employer',
                value=${job.getEmployer().getValue()})}" th:text="${job.getEmployer().getValue()}"></a></td>
            </tr>
            <tr>
                <td class="centered">Location</td>
                <td class="centered"><a th:href="@{/list/jobs(column='location',
                value=${job.getLocation().getValue()})}"th:text="${job.getLocation().getValue()}"></a></td>
            </tr>
            <tr>
                <td class="centered">Position Type</td>
                <td class="centered"><a th:href="@{/list/jobs(column='positionType',
                value=${job.getPositionType().getValue()})}" th:text="${job.getPositionType().getValue()}"></a></td>
            </tr>
            <tr>
                <td class="centered">Skill</td>
                <td class="centered"><a th:href="@{/list/jobs(column='coreCompetency',
                value=${job.getCoreCompetency().getValue()})}" th:text="${job.getCoreCompetency().getValue()}"></a></td>
            </tr>
        </table>
        </th:block>



</div>

</body>
</html>