<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <th:block  th:each="job : ${jobs}">
        <table class="job-listing" >
            <tr>
                <td class="centered">ID</td><td class="centered" th:text="${job.getId()}"></td>
            </tr>
            <tr>
                <td class="centered">Name</td><td class="centered" th:text="${job.getName()}"></td>
            </tr>
            <tr>
                <td class="centered">Employer</td><td class="centered" th:text="${job.getEmployer().getValue()}"></td>
            </tr>
            <tr>
                <td class="centered">Location</td><td class="centered" th:text="${job.getLocation().getValue()}"></td>
            </tr>
            <tr>
                <td class="centered">Position Type</td><td class="centered" th:text="${job.getPositionType().getValue()}"></td>
            </tr>
            <tr>
                <td class="centered">Skill</td><td class="centered" th:text="${job.getCoreCompetency().getValue()}"></td>
            </tr>
        </table>
    </th:block>
</div>

</body>
</html>